* {
    margin: 0 0 0 0;
    padding: 0; 
}

body {
    margin-left: 2rem;
    margin-top: 1rem;
}

/* id */
span#upper-span{
    font-size: 1.2rem;
}

/* class */
span.inner-span{
    font-size: 0.8rem;
}

form {
    display: flex;
    flex-direction: column; 
    width:20rem; 
    gap:9px;
    border: 1px solid green;
    padding: 0.5rem;
    margin: 2rem 2rem;
}

.btns {
    display:flex;
    justify-content: center;
    gap:2rem;
}

.btns button {
    padding-left: 1rem;
    padding-right: 1rem;
}

button[type='submit']{
    background-color: green;
    color:white;
    border:none;
    padding:0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;;
}

button[type='submit']:hover{
    background-color: darkgreen;
}

input {
    text-align: center;
    padding: 0.3rem;
}

ul {
    list-style: none;
}

ul li {
    margin: 0.1rem 0;
    padding: 0.2rem 0.3rem;
}

ul li:nth-child(2){
    color: yellow;
}

ul li:first-child {
    color:red;
}

ul li:last-child {
    color: blue;
}

/*
div {
    width : 5rem;
}
*/